@inherits LayoutComponentBase

<div class="main">
    <div class="content px-4">
        @Body
    </div>
    <div class="footer">
        <div>
            <div>
                &copy; Copyright @DateTime.Now.Year
            </div>
            <div>
                <a href="https://github.com/darkeclipz/google-proxy" target="_blank">View project on GitHub</a>
            </div>
        </div>
        <div style="flex-grow: 1;"></div>
        <div style="text-align: right">
            <div>
                <b>Want to help us pay for better servers?</b><br/>
                <span>
                    BTC: <span style="font-family: Consolas;"><a href="bitcoin:15zw7QaX9VrE7edNKMTfQML5txgLU6zHdm" @onclick:preventDefault>15zw7QaX9VrE7edNKMTfQML5txgLU6zHdm</a></span>
                </span>
            </div>
        </div>
    </div>
</div>
