<a href="@Uri.OriginalString" target="_new">
    <div class="result fade-in">
        <div class="host">
            <b>@Uri.Host</b>
            <small class="path">@Uri.PathAndQuery</small>
        </div>
    </div>
</a>


@code {
    [Parameter]
    public Uri Uri { get; set; }
}